 /* Підключення шрифтів */

/* Google Fonts (Plugin) */
/* @import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Локальне підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

/* Компоненти */
@import url("button.css");
/* .... */


/* * {
	box-sizing: border-box;
	outline: 1px solid red;
} */

/* Основні стилі */
[class*='__container'] {
	width: 100%;
	max-width: 1259px;
	margin: 0 auto;
	padding: 0 15px;
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: #0936d7;
	border: 1px solid grey;
	box-shadow: 0 0 3px orangered; 
	color: #FFF;
}



/* ============================================= */
/* =============== Navigation  ================= */
/* ============================================= */

.nav__item {
	display: inline-block;
	font-size: 0;
}

.nav__item:hover .nav__link::after {
	opacity: 1;
	visibility: visible;
}

.nav__item:hover .subnav {
	opacity: 1;
	visibility: visible;
}

.nav__item:not(:last-child) {
	margin-right: 10px;
}

.nav__link,
.subnav__link {
	position: relative;
	font-size: 18px;
	text-transform: capitalize;
}

.nav__link {
	padding: 10px 10px;
}

.nav__link::after,
.subnav__link::after {
	content: '';
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 80%;
	height: 3px;
	background-color:rgb(213, 13, 33);
	opacity: 0;
	visibility: hidden;
}

.subnav {
	position: absolute;
	top: 100%;
	padding-top: 10px;
	opacity: 0;
	visibility: hidden;
}

.subnav__item {
	background-color: #0936d7;
}

.subnav__link::after {
	bottom: 4px;
}

.subnav__item:hover .subnav__link::after {
	opacity: 1;
	visibility: visible;
}

.subnav__link {
	padding: 10px;
	width: 100%;
}


.wrapper {
	overflow: hidden;
	min-height: 100%;
}


/* ============================================= */
/* =============== EcoBazar    ================= */
/* ============================================= */

.shelf-vegetables {
	padding: 100px;
	background-color: #FFF;
	margin-bottom: 20px;
}

.shelf-vegetables__container {
	min-width: 330px;
}

.shelf-vegetables__card {
	width: 100%;
	max-width: 312px;
	border-radius: 8px;
	border: 1px solid #E6E6E6;
	background: #FFF;
	padding: 8px;
}

.shelf-vegetables__card:hover {
	border-color: #2C742F;
	box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
}

.shelf-vegetables__card:hover .shelf-vegetables__block-text {
	visibility: visible;
	opacity: 1;
}

.shelf-vegetables__card:hover .shelf-vegetables__title {
	color: #2C742F;
}

.shelf-vegetables .shelf-vegetables__title:hover {
	color: #00ca07;
}


.shelf-vegetables__block-text {
	width: 100%;
	padding: 0;
}

.shelf-vegetables__image img {
    width: 100%;
	height: 302px;
	object-fit: cover;
	margin: 3px 3px 0 0;
	border-radius: 8px;
}

.shelf-vegetables__title {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #4D4D4D;
	padding: 0 16px;
}

.shelf-vegetables__price {
	width: 235px;
    font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #1A1A1A;
	margin-bottom: -43px;
	padding: 0 16px;
}

.shelf-vegetables__button-block {
	position: relative;
	bottom: 0px;
	left: 0px;
}

[class*=button-circle] {
	width: 40px;
	height: 40px;
	color: gray;
	background: url("../img/Container.svg") no-repeat center;
	position: relative;
	bottom: 0px;
	left: 242px; 
}	


[class*=shopping-basket] {
    width: 20px;
	height: 20px;
	color: #1A1A1A;;
	background: url("../img/Bag.svg") no-repeat center;
	position: relative;
	bottom: 11px;
	left: 207.5px;
	cursor: pointer;
}

.shelf-vegetables__rating {
	width: 260px;
	margin-bottom: 0;
	padding-left: 15px;
}

.shelf-vegetables__star,
.shelf-vegetables__star-grey {
	width: 12px;
	height: 12px;
	background: url("../img/Star1.svg") no-repeat center;
}

.shelf-vegetables__star-grey {
	background: url("../img/Star5.svg") no-repeat center;
}

/* ==================================================================== */
/* =============== Business decor main up_down elipse ================= */
/* ==================================================================== */


.business:before,
.business::after {
    content: "";
    height: 50px;
    width: 110%;
    left: -5%;
    position: relative;
}

.business:before {
    background-color: #fff;
    border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
    top: 0;
}

.business::after {
    position: absolute;
    background-color: #231F8B;
    border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
    bottom: 0;
}

/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */

.business {
    position: relative;
    color: #FFF;
    background-color: #5A54F2;
    margin: 38px 0 0;
}

.business .business__text {
    max-width: 480px;
}

.business__management {
    margin-bottom: 54px;
}

.business__wrapper {
    margin-top: 67px;
    height: 100%;
    max-width: 600px;
    font-size: 0;
    text-align: left;
}

.business__wrapper>*:not(:last-child) {
    margin-bottom: 13px;
}

.business__wrapper,
.business__wrapper .title,
.business__wrapper .description {
    display: inline-block;
}

.business .business__text {
    margin-bottom: 39px;
}

.business__image {
    position: relative;
    width: 100%;
    border-radius: 20px;
    box-shadow: -25px 20px 44px 0px rgba(84, 48, 209, 0.40);
    overflow: hidden;
    display: block;
    z-index: 6;
}

.business__picture {
    max-width: 430px;
    height: 548px;
   
}

.business__img {
    display: inline-block;
    position: relative;
    z-index: 5;
    vertical-align: top;
}

/* ============================================================= */
/* =============== Element decor =============================== */
/* ============================================================= */

.business__img--decorated-left {
    margin-top: -71px;
}

.business__img--decorated-left::before,
.business__img--decorated-left::after,
.business__img--decorated-right::before,
.business__img--decorated-right::after {
    content: '';
    position: absolute;
    z-index: -1;
}

.business__img--decorated-left::before,
.business__img--decorated-right::before {
    width: 65px;
    height: 65px;
    background: url(../img/business/decor/Ellipse_first_small.svg) center/cover no-repeat;
}


.business__img--decorated-left::before {
    top: 130px;
    left: -120px;
}

.business__img--decorated-left::after {
    width: 401px;
    height: 401px;
    background: url(../img/business/decor/Ellipse_first_big.svg) center/cover no-repeat;
    right: 190px;
    bottom: -70px;
    z-index: 5;
}

.business__vertical-dots {
    width: 213px;
    height: 472px;
    background: url(../img/business/decor/VerticalDots.svg) center/cover no-repeat;
    position: absolute;
    top: 462px;
    left: -98px;
    z-index: 5;
}

/*===================== Second Section ===============================*/


.business__img--decorated-right::before {
    top: -48px;
    left: 92px;
    z-index: 7;
}

.business__img--decorated-right::after {
    width: 262px;
    height: 262px;
    background: url(../img/business/decor/Ellipse_second_big.svg) center/cover no-repeat;
    right: -140px;
    top: -30px;
    z-index: 5;
}

.business__horizontal-dots {
    width: 472px;
    height: 213px;
    transform: rotate(-180deg);
    background: url(../img/business/decor/horizontalDots.svg) center/cover no-repeat;
    position: absolute;
    bottom: 150px;
    left: 150px;
    z-index: 5;
}

/* ============================================= */
/* =============== Cards section ================= */
/* ============================================= */

.business__risk {
    position: relative;
    text-align: right;
    z-index: 1;
    font-size: 0;
}

.business__risk .business__title {
    max-width: 505px;
}

.business__risk .features__wrapper {
    margin-top: 30px;
    max-width: 480px;
}

.business__management>*:first-child,
.business__risk>*:first-child {
    margin-right: 40px;
}


.title {
    font-family: "Circular Std", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
}

.title--center {
    text-align: center;
}

.description {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.66;
}

.description>p:not(:last-child) {
    margin-bottom: 10px;
}


.button {
    border-radius: 60px;
    background: #F35B09;
    padding: 22px 26px;
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 60px;
}

.button:hover {
    box-shadow: 0 0 15px #F35B09;
}

/* ============================================= */
/* =============== FOOTER ================= */
/* ============================================= */

.footer {
	width: 100%;
	max-width: 100%;
	height: 60px;
	box-sizing: border-box;
	background-color: #0936d7;
	border: 1px solid rgb(243, 191, 4);
	box-shadow: 0 0 3px orangered;
}

.footer__title {
    text-align: center;
    padding: 10px;
    font-family: "Circular Std", sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: #FFF;
}
